:root {
	--ai-menubar-tabs: 250px;
	--ai-app-header-height: 54px;
	--ai-sidebar-width: 250px;
}

.ai-app-header{
	.app-toggler{
		margin: 24px 0px;
		
		svg{
			transform: rotate(0deg);
		}
		&.active{
			svg{
				transform: rotate(180deg);
			}
		}
	}
}
.ai-menubar-tabs {
	width: var(--ai-menubar-tabs);
	position: fixed;
	top: 0;
	z-index: 10;
	transition-duration: 0.3s;
	transition-property: width, left;
	height: 100vh;
	background-color: var(--bs-light);
	border-right: 1px solid var(--bs-border-color);

	.ai-navbar-brand {
		width: 100%;
		min-width: 80px;
		padding: 12px 20px;
		z-index: 9;
		position: relative;
		gap: 10px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		
		img{
			width: 30px;
		}
	}	
	.ai-menubar {
		padding: 0;
		margin: 0;

		&>li {
			display: block;
			margin-bottom: 3px;
		}
		.menu-heading {
			color: var(--bs-body-color);
			font-size: 11px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 10px 12px;
			margin-bottom: 0;
		}
		.menu-item .menu-link {
			font-size: 13px;
			padding: 9px 15px;
			color: var(--bs-heading-color);
			display: block;
			border-radius: 50px;

			&>i {
				display: inline-flex;
				font-size: 15px;
				vertical-align: text-top;
				line-height: 1;
				color: var(--bs-body-color);
				margin-right: 8px;				
			}

			&:hover,
			&.active {
				background-color: var(--bs-body-bg);
			}
		}
		.menu-divider {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
			margin: 15px -12px 10px;
		}
	}
	.ai-navbar {
		padding: 12px;
		height: calc(100% - (var(--app-header-height) + 35px));
		width: var(--ai-menubar-tabs);
	}
	.app-footer{
		padding: 14px 15px;
	}
	@include media-breakpoint-down(xl) {
		left: -260px;

		&.open {
			left: 0;
		}
	}
}
.app-wrapper{
	&.ai-wrapper{		
		padding: 25px 15px;
		margin-top: var(--ai-app-header-height);
		min-height: calc(100vh - var(--ai-app-header-height));
		margin-left: var(--ai-sidebar-width);
		
		@include media-breakpoint-down(sm){
			padding: 20px 5px;
		}
	}
}
.app-header.ai-app-header{
    height: var(--ai-app-header-height);
	border: 0;
	
	.app-header-inner {
		padding: 10px;
	}
	.app-header-start {
		height: var(--ai-app-header-height);
	}
	.app-header-end {
		height: var(--ai-app-header-height);
	}
}
[data-app-sidebar="mini"] {
    --ai-menubar-tabs: 70px;
	--ai-sidebar-width: 70px;
	
	.ai-menubar-tabs{
		.menu-label{
			display: none;
		}
		.app-toggler {
			right: -22px;
		}
		.ai-navbar-brand {
			min-width: 70px;
		}
		.app-footer {
			display: none;
		}
	}
}
@media (max-width: 1191px) {
	:root {
		--ai-sidebar-width: 0;
	}
}