.maintenance-wrapper{
	.maintenance-status{
		font-size: 70px;
		color: var(--bs-heading-color);
		font-weight: 900;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	.maintenance-heading{
		font-size: 20px;
		line-height: 1.5;
	}
	.maintenance-text{
		font-size: 18px;
	}
	@include media-breakpoint-down(xl){
		.maintenance-status{
			font-size: 60px;
		}
		.maintenance-heading{
			font-size: 18px;
		}
		.maintenance-text{
			font-size: 16px;
		}
	}
	@include media-breakpoint-down(lg){
		.maintenance-status{
			font-size: 50px;
		}
		.maintenance-heading{
			font-size: 16px;
		}
		.maintenance-text{
			font-size: 15px;
		}
	}
	@include media-breakpoint-down(sm){
		.maintenance-status{
			font-size: 36px;
		}
		.maintenance-text{
			font-size: 14px;
		}
	}
}
.maintenance-cover-wrapper{
	.maintenance-wrapper{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.maintenance-cover{
		background: radial-gradient(ellipse at center, var(--bs-body-bg) 0%, rgba(var(--bs-primary-rgb), 0.08) 100%);
		height: 100vh;
		width: 100%;
		text-align: center;
		min-height: 300px;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		overflow: hidden;
		position: relative;
		
		.maintenance-img{
			width: 100%;
			transform: translateX(-10%);
		}
	}
	@include media-breakpoint-down(lg){
		.maintenance-cover{
			height: auto;
		}
	}
	@include media-breakpoint-down(sm){
		.maintenance-cover{
			height: 100%;
		}
		.maintenance-wrapper{
		    min-height: 48vh;
		}
	}
}
.maintenance-full-wrapper{
	min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-light);
    background-position: center;
    background-size: cover;
	padding: 50px;
	
	.maintenance-img{
		width: 400px;
	}
	.maintenance-wrapper{
		padding-left: 50px;
	}
	@include media-breakpoint-down(lg){
		.maintenance-img{
			width: 300px;
		}	
	}
	@include media-breakpoint-down(md){
		.maintenance-wrapper{
			padding-left: 0;
		}
	}
}