.form-control-fill{
	background-color: var(--bs-light);
}
.password-wrapper{
	position: relative;
	
	.password-input {
		width: 100%;
		padding-right: 40px;
	}
	.toggle-password {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		background: none;
		border: none;
		cursor: pointer;
		font-size: 16px;
		color: var(--bs-body-color);
		display: flex;
		align-items: center;
		justify-content: center;
	
		.open{
			display: none;
		}
		&.active{
			.close{
				display: none;
			}
			.open{
				display: flex;
			}
		}
	}
}