html[data-bs-theme="light"]{
	--bs-gray-bg-subtle: #{$gray-bg-subtle};
}
html[data-bs-theme="dark"]{
	
	--custom-modal-backdrop-bg: #303a54;
	
	--bs-light: #{$light-custom-dark};
	--bs-dark: #{$dark-custom-dark};
    
	--bs-light-rgb: #{to-rgb($light-custom-dark)};
	--bs-dark-rgb: #{to-rgb($dark-custom-dark)};
	
	--bs-gray-bg-subtle: #{$gray-bg-subtle-dark};
	
	.text-light,
	.text-bg-light{
		color: #fff !important;
	}
	
}

[data-bs-theme="light"]{
	.visible-dark{
		display: none;
	}
}
[data-bs-theme="dark"]{
	.visible-light{
		display: none;		
	}
}
.theme-btn{
	width: 74px;
    height: 40px;
    background-color: var(--bs-light);
    border-radius: 50px;
    display: inline-flex;
    font-size: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
	position: relative;
	
	&::after{
		content: "";
		height: 34px;
		width: 34px;
		border-radius: 50%;
		background-color: var(--bs-body-bg);
		display: inline-block;
		position: absolute;
		left: 4px;
		transition: all 0.2s;
		z-index: 1;
	}
	.icon-light,
	.icon-dark{
		position: relative;
		z-index: 2;
	}
	.icon-light{
	    transform: translateX(4px);
	}
	.icon-dark{
		color: var(--bs-body-color);
		transition: all 0.2s;
	    transform: translateX(-5px);
	}
	&.active{
		.icon-light{
			color: var(--bs-body-color);
		}
		.icon-dark{
			color: var(--bs-primary);
		}
		&::after{
			left: 36px;
		}
	}
}