.ai-wrapper {
    .btn {
        &.btn-icon-text {
            &.left{
                display: flex;
                align-items: center;
                padding: 4px 20px 4px 4px;
                font-weight: 400;
				
                .icon {
                    background: #fff;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #999999;
                    font-size: 14px;
                    margin-right: 10px;
                    transition: all 0.25s;
                }
            }
            &.right{
                display: flex;
                align-items: center;
                border: 1px solid #E6E6E6;
                padding: 4px 4px 4px 20px;
                font-weight: 400;
				
                .icon {
                    background: #fff;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #999999;
                    font-size: 14px;
                    margin-left: 10px;
                    transition: all 0.25s;
                }
            }
            &:hover {
                background: var(--bs-primary);
                color: #fff;
    
                .icon {
                    background: rgba(255, 255, 255, 0.2);
                    color: #fff;
                }
            }
        }        
    }
    .form-control{
        border: 0;
		
        &:focus{
            border: 0;
            box-shadow: none;
        }
    }
}
.ai-frame-wrapper {
    height: 86vh;
    display: flex;
    align-items: center;
    padding: 15px;

    .inner-wrap {
        width: 100%;
    }
	@include media-breakpoint-down(sm){
		padding: 0;		
	}
}
.new-chat-box{
    .form-control {
        padding: 0px 30px;
        font-size: 16px;
        font-weight: 400;
		resize: none;
    }
    .textarea-bx {
        position: relative;

        .textarea-icon {
            position: absolute;
            left: 0;
            top: 0;
            width: 23px;
        }
    }
}
.image-search-area{
    background-color: var(--bs-body-bg);
    padding: 8px 8px 8px 15px;
    border-radius: var(--bs-border-radius-lg);
	
    .search-bx{
        position: relative;
		
        .icon{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
        }
        .form-control{
            border: 0;
            padding-left: 28px;
			
            &:focus{
                border: 0;
                box-shadow: none;
            }
        }
    }
}
.img-gradient{
    background: linear-gradient(180deg, rgba(var(--bs-primary-rgb), 0) 1.43%, rgba(var(--bs-primary-rgb), 0.97) 95.74%);
}
.apps-tab{
    gap: 8px;
	
    .nav-link{
        border-radius: var(--bs-border-radius);
        padding: 10px 15px;
        font-size: 14px;
        line-height: 1;
        background-color: #F8F8F8;
        border: 1px solid var(--bs-border-color);
		
        &:hover,
        &.active{
            background-color: #E6E6E6;
            border-color: #E6E6E6;
            color: var(--bs-dark);
        }
    }
}

.ai-body{
	position: relative;
}
.ai-conversation{
	padding: 20px;
    height: calc(100vh - 160px);
	
	@include media-breakpoint-down(sm){
		padding: 10px;
	}
	.ai-message-text{
		padding: 10px 20px;
		display: inline-block;
		font-size: 15px;
		color: var(--bs-dark);
		line-height: 1.5;
		
		p{
			margin: 0;
		}
		@include media-breakpoint-down(sm){
		    font-size: 13px;
		}
	}
    .ai-message-left,
    .ai-message-right{
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 10px;
		max-width: 600px;
	}
    .ai-message-left{
		align-items: start;
		margin-right: auto;
	}
	.ai-message-right{
		align-items: end;
		margin-left: auto;
	
		.ai-message-text{
			background-color: var(--bs-light);
			border-radius: 50px;
		}
	}
}